.video {
  background-color: $video-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 706px;
}

.video h3 {
  color: $white;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.005em;
  margin-top: 120px;
  margin-bottom: 20px;
  max-width: 350px;
}

.video p {
  color: fade-out($white, 0.3);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.005em;
  font-weight: 300;
  margin: 0 0 55px;
  max-width: 340px;
}

.video__player {
  position: relative;
  z-index: 3;
}

.video a {
  order: 0;
}

.video__player svg {
  position: absolute;
  left: calc(50% - 32.5px);
  top: calc(50% - 34px);
}

.video__svg {
  color: #070707;
  fill: $blue;
}

.video__svg:hover,
.video__svg:focus {
  fill: $blue-hover;
}

.video__svg:active {
  fill: $blue-active;
}

@media (max-width: $desktop-width) {
  .video {
    height: 413px;
  }

  .video h3 {
    font-size: 24px;
    margin-top: 70px;
  }

  .video p {
    max-width: 430px;
    margin-bottom: 40px;
  }

  .video__player {
    width: 503px;
    height: 282px;
  }

  .video__player svg {
    width: 91px;
    height: 91px;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
  }
}

@media (max-width: $tablet-width) {
  .video {
    height: 384px;
    padding: 0 15px;
  }

  .video h3 {
    margin-top: 84px;
    margin-right: 9px;
  }

  .video p {
    margin-bottom: 53px;
  }

  .video__player {
    width: 288px;
    height: 162px;
  }

  .video__player svg {
    width: 65px;
    height: 65px;
    left: calc(50% - 33px);
    top: calc(50% - 33px);
  }
}
